<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instalaciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../styles/styles.css">
<link rel="stylesheet" href="../styles/footer-style.css">
</head>
<body>



    <!-- Navbar Home page -->

    <nav id="nav" class="navbar navbar-expand-sm">
        <div  id="nav"  class="container">
            <nav  id="nav" >
              <ul>
                <li ><a href="home.html">INICIO</a></li>
                <li><a href="formacion.html">FORMACIÓN</a> </li>
                <li><a href="instalaciones.html">INSTALACIONES</a> </li>
                <li>   <li><a href="noticia.html">NOTICIAS</a> </li></li>
                <li> <a href="aula_virtual.html">AULA VIRTUAL </a>  </li>
                <li><li><a href="contact.html">CONTACTO</a></li>
              </ul>
            </nav>
          </div>
      </nav>
      <div id="con"class="container">
        <div class="container mt-5">
            <div class="row">
           <h1>INSTALAĆIONES</h1>
              <p>EL CENTRO DISPONE DE 6 AULAS CON ILUMINACIÓN Y VENTILACIÓN NATURAL. CON UNA SUPERFICIE TOTAL DE 360 M2, ESTÁ ACONDICIONADO DE ACUERDO CON LAS EXIGENCIAS DOCENTES Y UN ATRACTIVO DESEÑO, QUE DAN AL CONJUNTO UN ASPECTO ELEGANTE, ESPACIOSO, ALEGRE EY BIEN ILUMINADO.
          
                CENTRO DE ESTUDIOS CERO LE OFRECE LA OPORTUNIDAD DE DISPONER DE AULAS PARA IMPARTIR SUS CURSOS DE FORMACIÓN.</p>
              <div class="col-sm-4">
            
                <div class="polaroid">
                  <img src="../assets/Aulainformatica2.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
             
                <div class="polaroid">
                  <img src="../assets/aulasdeestudio1.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
             
                <div class="polaroid">
                  <img src="../assets/aula_informatica1.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
             
                <div class="polaroid">
                  <img src="../assets/aulasdeestudio2.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
             
                <div class="polaroid">
                  <img src="../assets/instalaciones1.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                   
                <div class="polaroid">
                  <img id="inst"src="../assets/oficinas1.jpg" alt="Norway" style="width:100%">
                  <div class="container">
                    <p>Hardanger, Norway</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">APOYO DIARIO AL ESTUDIO Y RECUPERACIONES
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-9999878398  </p>
<p><i class="fa fa fa-envelope"></i> info@example.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="">Image Rectoucing</a></li>
<li><a href="">Clipping Path</a></li>
<li><a href="http://webenlance.com">Hollow Man Montage</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="">Remove Background</a></li>
<li><a href="">Shadows & Mirror Reflection</a></li>
<li><a href="">Logo Design</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">

<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Crédit to https://bootsnipp.com/snippets/bxDBA -->
        
      </body>
</html>